@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

:root {
  --primary-color: rgb(40, 40, 255);
  --secondary-color: rgb(255, 123, 0);
  --gray-color: rgb(167, 167, 167);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito';
}

.btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
}

.price {
    color: var(--secondary-color);
}

.fa-quote-right {
    color: var(--gray-color);
}

.perMonth {
    color: var(--gray-color);
    vertical-align: top;
    font-size: 85%;
}

.price-preDiscount {
    color: var(--gray-color);
    text-decoration: line-through;
}

.bold {
    font-weight: bold;
}

.header {
    margin: 0 auto;
}

.header__img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    position: relative;
}

.header__container {
    max-width: 500px;
    height: 150px;
    padding: 20px;
    background-color: white;
    position: absolute;
    top: 200px;
    left: 10%;
    text-align: center;
}

.header__h1 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 36px;
}

.main__phoneInfo {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin: 50px 0;
}

.main__phoneInfo-container {
    width: 350px;
    margin: 0 70px;
}

.main__phoneInfo-h2,
.main__phoneInfo-p {
    color: var(--primary-color);
}

.main__phoneInfo-ul {
    margin: 20px 0;
}

.main__phoneInfo-img {
    width: 200px;
}

.main__phoneInfo-price {
    margin: 20px 0;
}

.main__phoneInfo-price .price-real {
    font-size: 24px;
}

.main__insurance  {
    text-align: center;
    font-size: 24px;
    padding: 0 20px;
}

.main__phoneInfo-ul {
    margin-left: 10px;
}

.main__phoneInfo-ul li {
    list-style-type: '✓';
    padding-inline-start: 1ch;
}

.main__phones {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.main__phone {
    border: 1px solid rgb(233, 233, 233);
    flex: 1;
}

.main__phone-container {
    text-align: center;
    padding: 30px;
}

.main__phone-name {
    color: var(--primary-color);
    padding: 15px 0;
    font-weight: bold;
}

.main__phone-container > img {
    height: 200px;
}

@media only screen and (max-width: 1000px) {
    .header__container {
        position: static;
        margin: 0 auto;
    }

    .header__h1 {
        font-size: 28px;
    }

    .main {
        margin-top: 80px;
    }
}
